<ion-header>
  <ion-toolbar>
    <ion-title>Creación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #creacionForm="ngForm">

    <ion-item>
      <ion-input 
        label="Email"
        type="email"
        [(ngModel)]="formData.user_email"
        name="user_email"
        #emailRef="ngModel"
        required
        email>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailRef.invalid && emailRef.touched">
      ⚠️ Introduce un email válido.
    </ion-text>

    <ion-item>
      <ion-input label="Contraseña" type="password" [(ngModel)]="formData.password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre" type="text" [(ngModel)]="formData.user_nombre" name="user_nombre"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="creacionForm.invalid">
      Registrarse
    </ion-button>

  </form>
</ion-content>