<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenida!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BLank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/mascota" appColorear>Tu mascota</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/perfil" appColorear>Tu perfil</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/dispositivo" appColorear>Tu dispositivo</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
