<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-button (click)="irAInicio()">Ir a inicio</ion-button>  Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mediciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col>Dispositivo</ion-col>
      <ion-col>Fecha</ion-col>
      <ion-col>Medicion</ion-col>
      <ion-col>Valor</ion-col>
    </ion-row>
    <ion-row *ngFor="let medicion of listado" appColorear>
      <ion-col>{{ medicion.dispositivoId }}</ion-col>
      <ion-col>{{ medicion.fecha }}</ion-col>
      <ion-col>{{ medicion.medicionId }}</ion-col>
      <ion-col>{{ medicion.valor }} cbar</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>